page-show-pdf {
  .sp-list{
  }
  .sp-header{
  }
  .sp-button{
    border-left: solid 5px #000000;
    border-bottom: solid 2px #8f8f8f;
  }
  .section-active{
    //background: #ffc400;
    //color: #ffffff;
    color: #000000;
  }
  .section{
    background: #ffffff;
    color: #000000;
  }
}
